<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar seu password. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar a minha senha', "#{message['redirect-url']}?reset_password_token=#{@token}" %></p>

<p>Se você não solicitou essa alteração, por favor ignore este email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
